.chatbot-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.chatbot-container h1 {
  font-size: 27px;
  font-weight: bold;
  padding: auto;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #000; /* Ensure the text color is black by default */
}

.message.user {
  background-color: #eaf6ff;
  color: #000;
  font-size: 20px;
}

.message.bot {
  color: #000;
  font-size: 20px;
}

.input-container {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #3668d3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
