/* src/components/QuestionCard.css */
.question-card {
    padding: 10px;
    border-radius: 5px;
  }
  
  .question-card h3 {
    margin-bottom: 10px;
    color: blue;
  }
  
  .question-card ul {
    list-style-type: none;
    padding-left: 0;
    color: blue;
  }
  
  .question-card li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    color: blue;

  }
  