.quiz-card {
    background-color: #f0f8ff;
    border: 1px solid #1e90ff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  .quiz-card h2 {
    color: #1e90ff;
  }
  
  .details-button {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .details-button:hover {
    background-color: #4682b4;
  }
  
  .quiz-detail .question-card {
    background-color: #f0f8ff;
    border: 1px solid #1e90ff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
  }
  
  .quiz-detail .question-card h3 {
    color: #1e90ff;
  }
  